body, header nav {
    background: #26366c;
}
header nav {
    background-image: none !important;
    background-color: #26366c !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #960305 !important;
    color: #d9d9d9 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #191934 !important;
}
.navbar-default {
    background-color: #26366c !important;
    border-color: #25254d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #b40700 0%, #700004 100%) !important;
}
.task-container {
    /*background-image: url(/img/task-body.png);*/
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 206px;
    margin-bottom: 15px;
}
.weight-a, .weight-b, .weight-c {
    position: absolute;
    background-repeat: no-repeat;
    background-position: top;
    left: -1%;
    top: 0;
    width: 40px;
    height: 90px;
    color: #fff;
    padding: 10px 14px
}
.weight-a {
    background-image: url("/img/w-a.png");
}
.weight-b {
    background-image: url("/img/w-b.png");
}
.weight-c {
    background-image: url("/img/w-c.png");
}
.task-title {
    background: #ffffff;
    padding: 15px 40px 0 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0, 0.35);
    height: 50px;
    color: #fff;
    font-weight: bold;
    text-overflow: clip;
    overflow: hidden;
    font-size: 1.2em;
    word-break: keep-all;
    white-space: nowrap;
    word-wrap: normal;
}
.task-title .title {
    text-overflow: clip;
    color: #26366c;
}
.task-body {
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.35);
    background: #26366c;
    padding: 5px 15px;
    height: 138px;
    color: #ffffff;
}
.task-title .dropdown {
    position: absolute;
    right: 37px;
    top: 15px;
    width: 20px;
    height: 20px;
}
.task-title .dropdown span.glyphicon {
    color: #26366c;
}

.task-title .dropdown-menu {
    top: 135%;
    left: -15px;
    min-height: 150px;
    background-color: #ffffff !important;
    min-width: 50px;
    border-radius: 0 !important;
    border: 0 !important;
}
.task-title .dropdown-menu li {
    text-align: center;
    margin-bottom: 11px;
    cursor: pointer;
}
.container {
    position: relative;
}
div.round-2 span.glyphicon.glyphicon-plus {
    color: #b5b5b5;
    font-size: 2.3em;
    cursor: pointer;
}
div.add-task {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
div.add-task .round-1 {
    width: 90px;
    height: 80px;
    border: 1px solid #000000;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
}

div.add-task .round-2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #e7e7e7;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
div.add-task:hover .round-1 {
    border: 4px solid #f0f0f0;
    padding: 7px;
}
div.add-task:hover .round-2 {
    background: #bbbbbb;
}
div.add-task:hover span.glyphicon.glyphicon-plus {
    color: #ebf5ee;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 25px;
    padding-left: 25px;
}
.col-xs-12 {
    padding-left: 35px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #700004 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
.navbar-default .navbar-nav > li > a {
    color: #ebf5ee !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #b5b5b5 !important;
}
@media (min-width: 768px){
    ul.nav.navbar-nav {
        margin-left: 34%;
    }
}
.nav > li {
    text-align: center;
}
div.main-logo {
    margin-top: 118px;
    background-size: contain;
    min-height: 258px;
    min-width: 258px;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
div.main-logo:hover {
    background-size: contain;
    background-image: url(/img/logo_h.png);
}
div.main-start {
    min-height: 97px;
    background-image: url(/img/btn-start.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 100px;
}
div.main-start a {
    display: block;
    height: 97px;
}
div.main-start:hover {
    background-image: url(/img/btn-start_h.png);
}
div.about-logo {
    background-image: url(/img/logo_h.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;

}
div.about-text {
    margin-top: 40px;
}
div.about-text p {
    text-align: justify;
    color: #ffffff;
    font-size: 1.1em;
}
.border {
    border-style: dashed;
    border-width: 2px;
    border-radius: 2%;
    border-color: rgba(0,0,0,.125);
    padding: 10px 20px;
    height: 80%;
}
.border-maroon {
    border-color: #9acfea;
}
.center {
    text-align: center;
    color: #ffffff;
}
.border-maroon .center {
    font-size: 3.9em;
    background-color: #d0d0d0;
    color: transparent;
    text-shadow: 0 2px 3px rgba(165, 165, 165, 0.6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight:bold;
    text-align:center;
}

.panel.panel-default {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 ;
    border: 0;
    box-shadow: 0 0 10px 5px rgba(0,0,0, 0.35);
}
.date-marker {
    color: #ffffff;
    padding: 3px 10px 3px 35px;
    background-color: #395ba8;
    clip-path: inset(25% 0 25% 0 round 0 25% 0 25%);
    -webkiclip-path: inset(25% 0 25% 0 round 0 25% 0 25%);

 }
div.clearfix.row div.collapse {
    margin-top: 36px;
    color: #ffffff;
}

div#element_panel_1 {
    background-color: #395ba8;
    box-shadow: inset 0 0 10px 2px rgba(0,0,0, 0.125);
    padding: 15px;
}
.weight-panel-a {
    background-color: #b10006;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.panel.panel-tasks .panel-heading {
    background-color: #395ba8;
}
.panel.panel-tasks, .panel.panel-tasks .panel-heading {
    border: none;
}
.border-left-a {
    border-left: solid 20px #b10006 !important;
}